/* theme.css */
:root {
  --aec-earth-green: #008768;
  --aec-lime-green: #aecc53;
  --aec-midnight-teal: #00353e;
  --aec-black: #000000;
  --aec-white: #ffffff;
  --aec-coral-orange: #e03c31;
  --aec-ocean-teal: #00a3ad;
  --aec-sunrise-yellow: #ffd100;
  --aec-fuchsia-pink: #d0006f;
  --aec-stone-gray: #d6d2c4;
}